.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px auto;
  padding: 0 40px;
}
.flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
